*.idb 
*.tlog 
*.db 
*.opendb 
*.vpwhist
/*.vpw
/*.vtg
/*.vpj
*.o
bacabort
bacarf
bacawf
bacdcc
bacepics
bacerror
bacge
baciam
baciamr
bacinitr
bacrbdt
bacrd
bacrp
bacrpm
bacrr
bacscov
bacserv
bacts
bacucov
bacuevent
bacupt
bacwh
bacwi
bacwir
bacwp
mstpcap
mstpcrc
