*.idb 
*.tlog 
*.db 
*.opendb 
*.vpwhist
/*.vpw
/*.vtg
/*.vpj
*.o
*.a
bin/bacabort
bin/bacarf
bin/bacawf
bin/bacdcc
bin/bacepics
bin/bacerror
bin/bacgateway
bin/bacge
bin/baciam
bin/baciamr
bin/bacinitr
bin/bacrbdt
bin/bacrd
bin/bacroute
bin/bacrp
bin/bacrpm
bin/bacrr
bin/bacscov
bin/bacserv
bin/bacts
bin/bacucov
bin/bacuevent
bin/bacupt
bin/bacwh
bin/bacwi
bin/bacwir
bin/bacwp
bin/mstpcap
bin/mstpcrc
demo/abort/bacabort
demo/dcc/bacdcc
demo/epics/bacepics
demo/error/bacerror
demo/gateway/bacgateway
demo/getevent/bacge
demo/iam/baciam
demo/iamrouter/baciamr
demo/initrouter/bacinitr
demo/mstpcap/mstpcap
demo/mstpcrc/mstpcrc
demo/readbdt/bacrbdt
demo/readfile/bacarf
demo/readprop/bacrp
demo/readpropm/bacrpm
demo/readrange/bacrr
demo/reinit/bacrd
demo/router-ipv6/bacroute
demo/scov/bacscov
demo/server/bacserv
demo/timesync/bacts
demo/ucov/bacucov
demo/uevent/bacuevent
demo/uptransfer/bacupt
demo/whohas/bacwh
demo/whois/bacwi
demo/whoisrouter/bacwir
demo/writefile/bacawf
demo/writeprop/bacwp
